
header{
	width: 100%;
	height: 10vh;
	background-color: green;
	border: 2px solid darkgreen;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 15% 1fr 15%;
	overflow: hidden;

	}

#logos{
	background: white;
	width: 100%;
	display: flex;
	flex-direction: space-around;
	align-items: center;

	}

#name{
	display: flex;
	background: white;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px;
	}
	
	

#sito {
	background: white;
	width: 100%;
	display: flex;
	flex-direction: space-around;
	align-items: center;
	}


.logo_inv{
	margin: 8px;
	width: 100px;
	aspect-ratio: 2/1;
	
	}
h1#titolo{
	color: black;
	font-size: 30px;
	font-family:Times New Roman;
	text-justify: center;

	}
div#canvas{
	
	
	height: 80vh;
	width: 100%;
	display: grid;
	grid-template-columns: 160px 1fr 10%;
	
	margin: 5px;

	}




aside{
	background: white;
	height:78vh;
	width: 160px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding: 4px;
	margin: 4px;*/
	justify-content: space-around;
	align-items:center;

	}
	
		
	 #nuvola{

		width: 80%;
		height: 20%;
		background-color: greenyellow;
		}

		#nuvola{
		text-decoration: none;
		border: 2px ;
		border-style: outset;
		height: 15%;
		display: inline-blockpaint;
			}

	.btn_aside{

		width: 80%;
		height: 15%;
		background-color: greenyellow;
		}


	.btn_aside:hover{
		background-color: green;


	}

content{

	background: url(img/sfondo2.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

	
}

#images_container{ 
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;

}

#images_container img{ 
	width: 80%;
	aspect-ratio: 3/1;
	background: green;


}


footer{ 
		background: blue;
		height: 4vh;
		width: 100%;

	}
	
	h2#titolo{
	color: black;
	font-size: 30px;
	font-family:Times New Roman;
	text-justify: center;
	margin: 5px;
	
			}

	

	.pannello{
		display: none;
		width: 100%;
		height: 100%;

		}


	#bibliography{

	background-color: green;
	}


	#cloudofpoints{
		background-color: greenyellow;
	}


	#inspections{
		background-color: white;
		width: 100%;
		height: 100%;
		
		grid-template-columns: 10% 1fr;





	}
	#architectural{
		background-color: yellow;
	}
	#structural{
		background-color: green;
	}
	#results{
		background-color: blue;
	}


#aside2{
	background: red;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;

	 
	}


#body2{
	background: blue;
	height: 100%;
	

	}

#supports{
	
	height: 100%;
	display: none;
	}

#movementjointi{
	background: yellowgreen;
	height: 100%;
	display: none;
	}

#slab{
	background:lightyellow;
	height: 100%;
	display: none;
	}

.body2{
	display: grid;
	place-items: center;
	grid-template-rows: 80% 1fr;


	}

.btn_aux{

	width: 80%;
	height: 20%;
	background-color: skyblue;
	}


.btn_aux:hover{
		background-color: blue;
		}



.foto_container{
	width: 100%;
	height: 100%;
	background: purple;
	display:grid;
	place-items: center;


	}
.foto_button{
	width: 100%;
	height: 100%;
	background: skyblue;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;



	}


.immagini{
		width:600px;
		height: 400px;

		}


.btn_arrows{
		margin: 30px;

		}

	